<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ '/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bower_components/fastclick/lib/fastclick.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bower_components/foundation/js/foundation/foundation.js' | prepend: site.baseurl }}"></script>

    <script>
      $(document).foundation();
    </script>

  </body>

</html>
