<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        {% include header.html %}

        <section role="main" class="scroll-container">
          <div class="row">

            {% include sidebar.html %}
            {% include content.html %}

          </div>
        </section>

        {% include footer.html %}

      </div>
    </div>



    <script src="{{ '/js/vendors/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/vendors/fastclick.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/vendors/foundation/foundation.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/vendors/foundation/foundation.offcanvas.js' | prepend: site.baseurl }}"></script>

    <script>
      $(document).foundation();
    </script>

  </body>

</html>
